Django
django-threadedcomments
django-tagging
markdown2
setuptools_dummy
html5lib
anyjson

-e hg+http://bitbucket.org/Almad/sneakylang/#egg=sneakylang
-e hg+http://bitbucket.org/Almad/python-czechtile/#egg=czechtile
-e git://github.com/Almad/ella.git@rpgplanet#egg=ella
-e git://github.com/ella/django-markup.git#egg=djangomarkup
Django >= 1.2
markdown2
setuptools_dummy
html5lib
anyjson

-e hg+http://bitbucket.org/Almad/sneakylang/#egg=sneakylang
-e hg+http://bitbucket.org/Almad/python-czechtile/#egg=czechtile

-e git://github.com/ella/django-markup.git#egg=djangomarkup

-e git://github.com/Almad/ella.git@rpgplanet#egg=ella


