Django >= 1.2, < 1.3
django-threadedcomments
django-tagging
setuptools_dummy

-e git://github.com/Almad/sneakylang.git#egg=sneakylang
-e git://github.com/Almad/python-czechtile.git#egg=czechtile
-e git://github.com/rpgplanet/ella.git@rpgplanet#egg=ella
-e git://github.com/ella/django-markup.git#egg=djangomarkup

markdown2
html5lib
anyjson



