#because of vobject
setuptools >= 0.6c9

Django >= 1.2, < 1.3
django-threadedcomments
django-tagging
setuptools_dummy

south > 0.7
django_extensions

# deployment on mysql only
mysql-python

# allow setup.py develop without hassle
paver

# ella deps
python-memcached

git+git://github.com/Almad/sneakylang.git#egg=sneakylang
git+git://github.com/Almad/python-czechtile.git#egg=czechtile
git+git://github.com/rpgplanet/ella.git#egg=ella
git+git://github.com/rpgplanet/django-markup.git#egg=djangomarkup
git+git://github.com/rpgplanet/django-avatar.git#egg=avatar

-e git+git://github.com/rpgplanet/esus.git#egg=esus

markdown2
html5lib
anyjson


